<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href='/stylesheets/main.css'/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap" rel="stylesheet">
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Document</title>
</head>
<body>
<div class="navbar-fixed">
    <nav class="#263238 blue-grey darken-4">
        <div class="nav-wrapper">
        <ul class="right">
        <li>
          <a href="/users">HOME</a>
        </li>
        <li><a href="/users/profile">PROFILE</a></li>
        <% if (requests.length > 0) { %>
        <li><a href="/users/friends">FRIENDS<span class="new badge"><%= requests.length %></span></a></li>
       <% } else { %>
        <li><a href="/users/friends">FRIENDS</a></li>
       <% } %>
        <li><a href="/users/community">COMMUNITY</a></li>
        <li>
          <% if (me) { %>
          <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
          <% } else { %>
          <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
          <% } %>
        </li>
        </ul>
        </div>
    </nav>
</div>
    <h1>FRIENDS</h1>
    <% if (requests) { %>
        <div class="row">
    <% requests.forEach(function(r) { %>
        <div class="col s12 m3">
                <div class="card">
                  <div class="card-image ">
                      <% if (r.requester.avatar) { %>
                      <img src="<%= r.requester.avatar %>" alt="" class="circle responsive-img">
                      <span class="card-title black-text"><%= r.requester.name %></span>
                      <% } else { %>
                        <i class="small material-icons">perm_identity</i>
                        <span class ="user-name #263238-text"><%= r.requester.name %></span>
                        <% } %>
                        <form action="/friends/<%= r._id %>?_method=DELETE" method=POST>
                            <input type="hidden" value="<%= r._id %>" name=recipient>
                            <button class="btn-small waves-effect waves-light red right" type="submit"><i class="material-icons">delete</i></button>
                            </form>
                        <form action="/friends/<%= r._id %>" method=POST>
                            <input type="hidden" value="<%= r._id %>" name=recipient>
                            <button class="btn-small waves-effect waves-light green right" type="submit"><i class="material-icons">done</i></button>
                            </form>
                            
                  </div>
                </div>
              </div>
              <% }) %>
            </div>
   <% } else { %>
       <h2>No Friends</h2>
   <% } %>
</body>
</html>