<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>DASHBOARD</h1>
    <form method="POST" action="/profile" class="p-3 mb-2 bg-dark text-white" >
      <label>List Name:</label>
      <input type="text" name="listname" autocomplete="off" >
      <input type="submit" value="Create List">
    </form>

    <% lists.forEach(function(lists) { %>
        <table class="table">
            <thead class="p-3 mb-2 bg-primary text-white">
                <tr>
                    <th scope="col"><%= lists.listname %></th>
                    <th scope="col">
                        <% if (lists._id.equals(lists && lists._id)) { %>
                            <form action="/lists/<%= lists._id %>/links"  method="POST">
                            <input type="text" name="link" autocomplete="off" >
                            <input type="submit" value="Add Link">
                            </form>
                        <% } %>

                    </th>
                    <th scope="col">
                        <% if (lists._id.equals(lists && lists._id)) { %>
                        <form action="/profile/<%= lists._id %>?_method=DELETE" method="POST">
                          <button type="submit">Delete List</button>
                        </form>
                      <% } %>
                    </th>
                </tr>
            </thead>
           <% lists.links.forEach(function(links) { %>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">
                                <td <a href="<%= links.link %>"><%= links.link %></a>
                            </td>
                            </th>
                            <th scope="col">
                                <% if (links._id.equals(links && links._id)){ %>
                                    <form action="/links/<%= links._id %>?_method=DELETE" method="POST">
                                        <button type="submit">Delete Link</button>
                                    </form>
                                    <% } %>
                            </th>
                        </tr>
                    </thead>
                </table>     
           <% }) %>
    <% }) %>

            
</body>
</html>